{% if environment == "prod" -%}
dozzle.yarden-zamir.com
{%- else -%}
pr.{{ environment.removeprefix("pr-") }}.dozzle.yarden-zamir.com
{%- endif %} {
    basic_auth bcrypt {
        {{ params.DOZZLE_AUTH_USERNAME }} {{ params.DOZZLE_AUTH_PASSWORD_HASH | replace("$$", "$") }}
    }

    reverse_proxy unix//{{ paths.default_socket }}
}
