dozzle.yarden-zamir.com {
    basic_auth bcrypt {
        {{ params.DOZZLE_AUTH_USERNAME }} {{ params.DOZZLE_AUTH_PASSWORD_HASH | replace("$$", "$") }}
    }

    reverse_proxy unix//{{ paths.default_socket }}
}
